.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 40px;

}

.hashtag {
  margin: 5px;
}

.reactions {
  margin-top: 18px;
  width: 100%;
}

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.welcome {
  margin: 50px
}